node_modules/
.env
.env.*
!.env.example
.next/
next-env.d.ts
dist/
coverage/
logs/
.DS_Store
infra/apache/certs/*.key
*.pem
apps/api/uploads/*
!apps/api/uploads/.gitkeep
!apps/api/uploads/products/
apps/api/uploads/products/*
!apps/api/uploads/products/.gitkeep